
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-image: url("website-background.png"); 
      background-size: cover;
      background-repeat: no-repeat;
    }

    .container {
      display: flex;
      gap: 20px;
      height: 50vh;
    }

    .textbox-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      border: 4px solid gray;
      border-radius: 10px;
      padding: 20px;
      background-color: white;
    }

    .textbox-container h2 {
      margin: 0;
      margin-bottom: 10px;
    }

    .textbox {
      flex: 1;
      resize: none;
      width: 100%;
      height: 300px;
      padding: 10px;
      border: 2px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
       width: 90%;
    }

    .cards-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .card {
      border: 2px solid #4caf50;
      border-radius: 5px;
      padding: 10px;
      background-color: #e8f5e9;
      cursor: pointer;
    }

    .card h3 {
      margin: 0;
      font-size: 18px;
      color: #2e7d32;
    }

    .card p {
      margin: 5px 0 0 0;
      font-size: 14px;
      color: #555;
    }

    .button-container {
      display: flex;
      justify-content: space-between;
      align-items: start;
      margin-top: 20px;
    }

  
    .leaf-buttonSubmit {
      background-image: url('../static/leafSubmit.png');
   background-size: 30%;
      background-repeat: no-repeat;
      background-position: center;
      width: 500px;
      height: 100px; 
      border: none;
      cursor: pointer;
      margin-top: 20px;
      background-color: transparent;
      color: transparent;
      
      position: absolute;
    bottom: 30px; 
    right: 30px; 
 
    }
    .leaf-buttonNext {
      background-image: url('../static/leafNext.png');
   background-size: 30%;
      background-repeat: no-repeat;
      background-position: center;
      width: 500px;
      height: 100px; 
      border: none;
      cursor: pointer;
      margin-top: 20px;
      background-color: transparent;
      color: transparent;
      
      position: absolute;
    bottom: 30px; 
    right: 30px; 
 
    }
     .leaf-buttonBack {
      background-image: url('../static/leafBack.png');
     background-size: 30%;
      background-repeat: no-repeat;
      background-position: center;
      width: 500px;
      height: 100px; 
      border: none;
      cursor: pointer;
      margin-top: 20px;
      background-color: transparent;
      color: transparent;
      
      position: absolute;
    bottom: 30px; 
    left: 30px; 
    }